In [2]:
import pandas as pd
import numpy as np
print("DataFrame.applyfunction:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n Squareroot of DataFrame: \n",info.apply(np.sqrt))
print("\n sum of each column :\n",info.apply(np.sum,axis=0))
print("\n Sum of each row: \n",info.apply(np.sum,axis=1))

DataFrame.applyfunction:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column :
 S    12
R    36
dtype: int64

 Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [3]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print("\n Original DataFrame : \n",info)
print("\n Minimum and maximum of each column:\n")
print(info.agg(['min','max']))

 Original DataFrame :
    x  y  z
0  2  4  6
1  1  3  5
2  5  8  7

 Minimum and maximum of each column:

     x  y  z
min  1  3  5
max  5  8  7

In [5]:
import pandas as pd
print("\n DataFrame.Assign function : \n")
d2=pd.DataFrame([['Sanjay',88],['Dinesh',70]])
col=(['Emp','ID'])
print("\n Original DataFrame : \n",d2)
d2['Age']=[20,18]
print("\n Adding new column: \n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n Adding new column:\n",d)

 DataFrame.Assign function :


 Original DataFrame :
         0   1
0  Sanjay  88
1  Dinesh  70

 Adding new column:
         0   1  Age
0  Sanjay  88   20
1  Dinesh  70   18

 Adding new column:
         0   1  Age   sex
0  Sanjay  88   20  Male
1  Dinesh  70   18  Male

In [4]:
print("\n DataFrame Sort Function: \n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['A','B'])
print(info)
info2=info.sort_index()
print("\n Sort index: \n",info2)
info3=info.sort_values(by='A')
print("\n Sort values: \n",info3)

 DataFrame Sort Function:

          A         B
3  0.873552 -0.726803
2  0.276443  0.155248
0  0.904474 -0.020349
4 -0.550362  1.499461
1  0.000564 -0.744001

 Sort index:
           A         B
0  0.904474 -0.020349
1  0.000564 -0.744001
2  0.276443  0.155248
3  0.873552 -0.726803
4 -0.550362  1.499461

 Sort values:
           A         B
4 -0.550362  1.499461
1  0.000564 -0.744001
2  0.276443  0.155248
3  0.873552 -0.726803
0  0.904474 -0.020349

In [5]:
print("\n DataFrame Merge Function: \n")
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Ravi','Pov','Yash']})
right=pd.DataFrame({'id':[1,2,3,4],'name':['Sanjay','Ram','Selvin','Raju'],'Sub':['Sub1','Sub4','Sub3','Sub2']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

 DataFrame Merge Function:

   id  Name
0   1   Sai
1   2  Ravi
2   3   Pov
3   4  Yash
   id    name   Sub
0   1  Sanjay  Sub1
1   2     Ram  Sub4
2   3  Selvin  Sub3
3   4    Raju  Sub2
   id  Name    name   Sub
0   1   Sai  Sanjay  Sub1
1   2  Ravi     Ram  Sub4
2   3   Pov  Selvin  Sub3
3   4  Yash    Raju  Sub2