In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
d=pd.read_csv('/content/drive/My Drive/Colab Notebooks/data.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=["one","two","three"],columns=["a","b","c"])
print(df)

       a  b  c
one    1  2  3
two    4  5  6
three  7  8  9

In [ ]:
df.to_csv('/content/drive/My Drive/Colab Notebooks/he.csv')
df.to_csv('/content/drive/My Drive/Colab Notebooks/she.csv')

In [ ]:
df=pd.DataFrame([[10,20,30],[40,50,60],[70,80,90]],index=["four","five","six"],columns=["x","y","z"])
df.to_csv('/content/drive/My Drive/Colab Notebooks/he.csv')

In [ ]:
df=pd.DataFrame([[6,7],[1,2]],index=["a","b"],columns=["x","y"])
df.to_csv('/content/drive/My Drive/Colab Notebooks/she.csv')

In [ ]:
x=pd.read_csv('/content/drive/My Drive/Colab Notebooks/he.csv')
y=pd.read_csv('/content/drive/My Drive/Colab Notebooks/she.csv')
z=pd.concat([x,y])
z.to_csv('/content/drive/My Drive/Colab Notebooks/she.csv')

In [ ]:
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/she.csv')
print(df)
print(list(df))
print(format(len(df)))

   Unnamed: 0.1 Unnamed: 0   x   y     z
0             0       four  10  20  30.0
1             1       five  40  50  60.0
2             2        six  70  80  90.0
3             0          a   6   7   NaN
4             1          b   1   2   NaN
['Unnamed: 0.1', 'Unnamed: 0', 'x', 'y', 'z']
5