In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Age':[42,15,67,55,1,29,75,89,4,10,15,38,22,77]})
print("Before:\n")
print(df)
df['Label']=pd.cut(x=df['Age'],bins=[0,3,17,63,99],labels=['Baby/Toddler','Child','Adult','Elderly'])
print("After:\n")
print(df)
print("Categories:\n")
print(df['Label'].value_counts())

Before:

    Age
0    42
1    15
2    67
3    55
4     1
5    29
6    75
7    89
8     4
9    10
10   15
11   38
12   22
13   77
After:

    Age         Label
0    42         Adult
1    15         Child
2    67       Elderly
3    55         Adult
4     1  Baby/Toddler
5    29         Adult
6    75       Elderly
7    89       Elderly
8     4         Child
9    10         Child
10   15         Child
11   38         Adult
12   22         Adult
13   77       Elderly
Categories:

Label
Adult           5
Child           4
Elderly         4
Baby/Toddler    1
Name: count, dtype: int64

In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Height':[150.4,157.6,170,176,164.2,155,159.2,175,162.4,176,153,170.9]})
print("Before:\n")
print(df)
df['Label']=pd.cut(x=df['Height'],bins=[150,157,169,180],labels=['Short','Average','Tall'])
print("After:\n")
print(df)
print("Categories:")
print(df['Label'].value_counts())

Before:

    Height
0    150.4
1    157.6
2    170.0
3    176.0
4    164.2
5    155.0
6    159.2
7    175.0
8    162.4
9    176.0
10   153.0
11   170.9
After:

    Height    Label
0    150.4    Short
1    157.6  Average
2    170.0     Tall
3    176.0     Tall
4    164.2  Average
5    155.0    Short
6    159.2  Average
7    175.0     Tall
8    162.4  Average
9    176.0     Tall
10   153.0    Short
11   170.9     Tall
Categories:
Label
Tall       5
Average    4
Short      3
Name: count, dtype: int64