In [2]:
import pandas as pd
car_selling_data={"Brand":["Maruthi","Maruthi","Maruthi","Hyundai","Hyundai","Toyota","Mahendra","Mahendra","Ford","Toyota","Ford"],"Year":["2010","2011","2009","2011","2012","2011","2012","2013","2010","2011","2012"],"sold":[6,7,9,8,3,5,2,8,7,2,4]}
df=pd.DataFrame(car_selling_data)
print("Orginal data: \n",df)
grouped=df.groupby("Year")
print("\nGroup by year 2011: \n",grouped.get_group("2010"))

Orginal data:
        Brand  Year  sold
0    Maruthi  2010     6
1    Maruthi  2011     7
2    Maruthi  2009     9
3    Hyundai  2011     8
4    Hyundai  2012     3
5     Toyota  2011     5
6   Mahendra  2012     2
7   Mahendra  2013     8
8       Ford  2010     7
9     Toyota  2011     2
10      Ford  2012     4

Group by year 2011:
      Brand  Year  sold
0  Maruthi  2010     6
8     Ford  2010     7

In [3]:
student_data = {
    'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'Roll no': [9, 17, 23, 26, 36, 23, 29, 17, 36, 9],
    'Email': ['ab@gmail.com', 'cd@gmail.com', 'ef@gmail.com', 'gh@gmail.com', 'ij@gmail.com',
              'kl@gmail.com', 'mn@gmail.com', 'op@gmail.com', 'qr@gmail.com', 'st@gmail.com']}
df = pd.DataFrame(student_data)
non_duplicate=df[df.duplicated(subset=['Roll no'])]
details = {"ID":[90,91,92,93,94,95,96,97,98,99],
    'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    "Dept":["CSE","EEE","ECE","MECH","CSE","CSD","MCT","RA","EEE","BME"]}
de=pd.DataFrame(details)
print("Removed duplicate rows:\n",non_duplicate)

Removed duplicate rows:
   Name  Roll no         Email
5    F       23  kl@gmail.com
7    H       17  op@gmail.com
8    I       36  qr@gmail.com
9    J        9  st@gmail.com

In [4]:
print("\nOriginal DataFrame:\n",de)
fee_status=pd.DataFrame({"ID":[90,91,92,93,94,95,96,97,98,99],"Pending":[5000,250,"NIL",300,"NIL",6500,3400,6000,2500,"NIL"]})
print("Original DataFrame:\n",fee_status)
print("\nMerged DataFrame:\n",pd.merge(de,fee_status))

Original DataFrame:
    ID Name  Dept
0  90    A   CSE
1  91    B   EEE
2  92    C   ECE
3  93    D  MECH
4  94    E   CSE
5  95    F   CSD
6  96    G   MCT
7  97    H    RA
8  98    I   EEE
9  99    J   BME
Original DataFrame:
    ID Pending
0  90    5000
1  91     250
2  92     NIL
3  93     300
4  94     NIL
5  95    6500
6  96    3400
7  97    6000
8  98    2500
9  99     NIL

Merged DataFrame:
    ID Name  Dept Pending
0  90    A   CSE    5000
1  91    B   EEE     250
2  92    C   ECE     NIL
3  93    D  MECH     300
4  94    E   CSE     NIL
5  95    F   CSD    6500
6  96    G   MCT    3400
7  97    H    RA    6000
8  98    I   EEE    2500
9  99    J   BME     NIL