In [5]:
import pandas as pd
d1={"name":["Ram","Raj","Ravi"],"age":[20,21,22]}
d2={"qualified":[True,False,True]}
df1=pd.DataFrame(d1)
print("DF1:\n",df1)
df2=pd.DataFrame(d2)
print("DF2:\n",df2)

DF1:
    name  age
0   Ram   20
1   Raj   21
2  Ravi   22
DF2:
    qualified
0       True
1      False
2       True

In [3]:
newdf=df1.join(df2)
print("Joining:\n",newdf)

Joining:
    name  age  qualified
0   Ram   20       True
1   Raj   21      False
2  Ravi   22       True

In [4]:
df1=pd.DataFrame([[11,12],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum()>b.sum()):
        return a
    else:
        return b
print(df1)
print(df2)
print(df1.combine(df2,myfunc))

    0   1
0  11  12
1   3   4
   0  1
0  5  6
1  7  8
    0   1
0  11  12
1   3   4

In [6]:
df1={"name":['Sai','Sub','Poo'],"age":[20,21,22]}
df2={"name":['Yuvi','Rithika','Sanjay'],"age":[20,21,22]}
d1=pd.DataFrame(df1)
print("DF1:\n",df1)
d2=pd.DataFrame(df2)
print("DF2:\n",d2)
newdf1=d2.merge(d1,on="age")
newdf2=d1.merge(d2,on="age")
print("Left Merge:\n",newdf1)
print("Right Merge:\n",newdf2)

DF1:
 {'name': ['Sai', 'Sub', 'Poo'], 'age': [20, 21, 22]}
DF2:
       name  age
0     Yuvi   20
1  Rithika   21
2   Sanjay   22
Left Merge:
     name_x  age name_y
0     Yuvi   20    Sai
1  Rithika   21    Sub
2   Sanjay   22    Poo
Right Merge:
   name_x  age   name_y
0    Sai   20     Yuvi
1    Sub   21  Rithika
2    Poo   22   Sanjay

In [13]:
df=pd.DataFrame({'team':['A','B','C','D'],
                 'points':[90,80,70,60],
                 'assist':[12,34,23,29],
                 'rebounds':[50,60,65,70]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assist','rebounds'])
print("\nReshape:\n",df)

  team  points  assist  rebounds
0    A      90      12        50
1    B      80      34        60
2    C      70      23        65
3    D      60      29        70

Reshape:
    team  variable  value
0     A    points     90
1     B    points     80
2     C    points     70
3     D    points     60
4     A    assist     12
5     B    assist     34
6     C    assist     23
7     D    assist     29
8     A  rebounds     50
9     B  rebounds     60
10    C  rebounds     65
11    D  rebounds     70