In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a  0.886816 -0.811122  1.940185
b       NaN       NaN       NaN
c -2.398394 -0.927880  2.090701
d -0.259861  0.405679  0.809304
e       NaN       NaN       NaN
f  0.212546  0.503607 -0.079312
Dropped DataFrame
         one       two     three
a  0.886816 -0.811122  1.940185
c -2.398394 -0.927880  2.090701
d -0.259861  0.405679  0.809304
f  0.212546  0.503607 -0.079312

In [2]:
print("NaN replaced with 0:\n",df.fillna(0))
print("\n")

NaN replaced with 0:
         one       two     three
a  0.886816 -0.811122  1.940185
b  0.000000  0.000000  0.000000
c -2.398394 -0.927880  2.090701
d -0.259861  0.405679  0.809304
e  0.000000  0.000000  0.000000
f  0.212546  0.503607 -0.079312

In [3]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\n DataFrame with replaced values: \n")
print(df.replace({10:5,80:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40    0
4   50    5

In [4]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n NaN with true fill:\n")
print(df['one'].isnull())

Original DataFrame with NaN
         one       two     three
a  0.903706 -0.953597  1.131331
b       NaN       NaN       NaN
c -0.254091 -0.844653 -0.050613
d  0.121702 -1.467302  1.228788
e       NaN       NaN       NaN
f  0.431607 -1.779227 -1.744818

 NaN with true fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [7]:
print("NaN filled with Background values:\n")
print(df.bfill())

NaN filled with Background values:

        one       two     three
a  0.903706 -0.953597  1.131331
b -0.254091 -0.844653 -0.050613
c -0.254091 -0.844653 -0.050613
d  0.121702 -1.467302  1.228788
e  0.431607 -1.779227 -1.744818
f  0.431607 -1.779227 -1.744818